# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\tanyacheng\Experiments\SOD\Transformer_Saliency\Swin\Saliency\final_submitted\SwinNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
